html, body {
  background: black;
  color: white;
  font-family: "Liberation Serif", serif;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

*, *::after, *::before {
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
}

h1, h2, h3 {
  margin: 0;
}

h1 {
  font-size: 2.5em;
  font-weight: normal;
}

h2 {
  font-size: 2.1em;
  font-weight: normal;
}

h3 {
  font-size: 1.6em;
  font-weight: normal;
}

p {
  font-size: 1.7em;
  line-height: 1.4;
}

hr {
  border: none;
  width: 95%;
  height: 2px;
  background-color: #fff;
}

.charm {
  width: 6.1em;
  height: 6.1em;
}

#title {
  padding-top: 2em;
  text-align: center;
}

#calc {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  margin: 4em 6em;
  margin-top: 0;
  padding: 4em;
}

#left {
  grid-column: 1 / 7;
  display: flex;
  flex-direction: column;
}

#right {
  grid-column: 7 / 11;
  display: flex;
  flex-direction: column;
}

#equipped {
  height: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

#void_heart {
  width: 6.1em;
  height: 6.1em;
}

#notches {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#notches img:not(.purple_notch) {
  opacity: 33%;
}

.purple_notch {
  opacity: 0%;
}

#charms {
  height: 60%;
  display: grid;
  grid-template-columns: repeat(21, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

#charms > * {
  grid-column: span 2;
  text-align: center;
}

#charms > :nth-child(20n + 11) {
  grid-column: 2 / 4;
}

#charms img {
  width: 5em;
  height: 5em;
}

.equipped {
  opacity: 33%;
  border-radius: 50%;
  box-shadow: 0 0 50px 12px lightblue, inset 0 0 50px lightblue;
}

#right > * {
  padding: 0.5em;
  text-align: center;
}

#right > p {
  text-align: left;
}

#cost {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#symbol {
  width: 8em;
  height: 8em;
}
